body{
	font-family: arial, sans-serif;
}
*{
	padding: 0px;
	margin: 0px;
}
#maindiv{
	background-color:white;
}
#navdiv{
	opacity: 0.7;
	filter: (opacity=70);
}
#navdiv ul{
	width: 100%;
	height: 80px;
	background-color: #aec6cf;
	line-height: 80px;
	color: white;
	margin-right: 15px;
}
#navdiv ul a{
	text-decoration: none;
	color: white;
	padding: 20px;
}
#navdiv ul li {
	list-style-type: none;
	display: inline-block;
	float: right;
}
#navdiv ul li:hover{
	background: #8fb0bf;
	transition: all 0.40s;
}
#navdiv h1{
	width: 300px;
	float: left;
	cursor: pointer;
	margin-left: 15px;
	color: white;
}
img{
	display: block;
	height: 200px;
	width: 200px;
	float: right;
}
.avatar {
  float: right;
  margin-left: 9px;
  display: inline-block;
  cursor: pointer;
  border: 3px solid gray;
  position: relative;
  overflow: hidden;
  background-color: gray;
  z-index: 25;
}