body{
	margin:0 auto;
	background-image: url("ullogo.jpg");
	background-position:center;
	background-size:cover;
}
.container{
	width: 500px;
	height: 450px;
	text-align: center;
	background-color: rgba(52,73,94,0.7);
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 150px;
}
.container img{
	width: 120px;
	height: 120px;
	margin-top: -60px;
	margin-bottom: 30px;
}
input[type="text"],input[type="password"]{
	height:30px;
	width: 300px;
	font-size: 18px;
	border: none;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: #fff;
	padding-left: 30px;
}
.form-input::before{
	position: absolute;
	font-family: sans-serif;
	padding-left: 5px;
	padding-top: 5px;
	font-size: 35px;
}
li a, .dropdown-btn{
	padding: 15px 30px;
	cursor: pointer;
	color: #fff;
	border-radius: 4px;
	border: none;
	background-color: #2ecc71;
	border-bottom: 4px solid #27ae60;
	margin-bottom: 20px;
}
li.dropdown{
	display: inline-block;
}
.dropdown-menu{
	display: none;
	position: absolute;
	color: #fff;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rbga(0,0,0,0.1);
}
.dropdown-menu a{
	color: #fff;
	padding: 12px 16px;
	text-align: center;
}
.dropdown-menu a:hover{
	background-color: #lebb90;
	color: #fff;
}
.dropdown:hover .dropdown-menu{
	display: block;
}
.btn-login{
	padding: 15px 30px;
	cursor: pointer;
	color: #fff;
	border-radius: 4px;
	border: none;
	background-color: #2ecc71;
	border-bottom: 4px solid #27ae60;
	margin-top:20px;
	margin-bottom: 20px;
}
a{
	color: #fff;
}
