body{
	margin:0 auto;
	background-image: url("ullogo.jpg");
	background-position:center;
	background-size:cover;
}
.container{
	width: 500px;
	height: 400px;
	text-align: center;
	background-color: rgba(52,73,94,0.7);
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 150px;
}
.container img{
	width: 120px;
	height: 120px;
	margin-top: -60px;
	margin-bottom: 30px;
}
input[type="text"],input[type="password"]{
	height:45px;
	width: 300px;
	font-size: 18px;
	border: none;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: #fff;
	padding-left: 30px;
}
.form-input::before{
	position: absolute;
	font-family: sans-serif;
	padding-left: 5px;
	padding-top: 5px;
	font-size: 35px;
}
.btn-login{
	padding: 15px 30px;
	cursor: pointer;
	color: #fff;
	border-radius: 4px;
	border: none;
	background-color: #2ecc71;
	border-bottom: 4px solid #27ae60;
	margin-bottom: 20px;
}
.val_error{
	color: #FF1F1F;
}

a{
	color: #fff;
}
