@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body{
	font-family: 'Quicksand', sans-serif;
	background-color: #D5D5D5;
}
*{
	padding: 0px;
	margin: 0px;
}
#maindiv{
	width: 100%;
	height: 700px;
	/*background: url("ullogo.jpg");*/
	background-size:cover;
}
#navdiv{
	opacity: 0.7;
	filter: (opacity=70);
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;

}
#navdiv ul{
	width: 100%;
	height: 80px;
	background-color: #9099A2;
	line-height: 80px;
	color: white;
	margin-right: 15px;
}
#navdiv ul a{
	text-decoration: none;
	color: white;
	padding: 20px;
}
#navdiv ul li {
	list-style-type: none;
	display: inline-block;
	float: right;
	background: #9099A2;
  -o-transition:color .2s ease-out, background 0.2s ease-in;
  -ms-transition:color .2s ease-out, background 0.2s ease-in;
  -moz-transition:color .2s ease-out, background 0.2s ease-in;
  -webkit-transition:color .2s ease-out, background 0.2s ease-in;
  /* ...and now override with proper CSS property */
  transition:color 0.05s ease-out, background 0.35s ease-in;
}
#navdiv ul li:hover{
	background: #333538;
}
#navdiv h1{
	width: 300px;
	float: left;
	cursor: pointer;
	margin-left: 15px;
	color: white;
}
#searchBar{
	background-color: rgba(0, 0, 0, 0);
	outline: none;
}
#searchBtn{
}
#searchBtn:hover{
	background: #8fb0bf;
}
.container{
	width: 500px;
	height: 400px;
	padding-top: 15px;
	text-align: center;
	background-color: rgba(52,73,94,0.7);
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 50px;
}
input[type="text"],input[type="password"]{
	height:45px;
	width: 300px;
	font-size: 18px;
	border: none;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: #fff;
	padding-left: 30px;
}
.form-input::before{
	position: absolute;
	font-family: sans-serif;
	padding-left: 5px;
	padding-top: 5px;
	font-size: 35px;
}
.btn-login{
	padding: 15px 30px;
	cursor: pointer;
	color: #fff;
	border-radius: 4px;
	border: none;
	background-color: #2ecc71;
	border-bottom: 4px solid #27ae60;
	margin-bottom: 20px;
}


#info{
	width: 300px;
	height: 250px;
	padding-top: 15px;
	float: left;
	text-align: center;
	background-color: #9099A2;
	border-radius: 4px;
	margin-left:50px;
	margin-top: 100px;
	border: 1px solid #96858F;

	-moz-box-shadow:    inset 0 0 10px #000000;
   	-webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
}

.claimed_tasks {
	height: 250px;
	margin-top: 100px;
	border-radius: 4px;
	float: left;
	margin-left: 170px;
	padding: 10px 10px 10px 10px;
	background-color: #9099A2;

	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  	
  
}

.claimed_tasks h2 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

.claimed_tasks .tasks {
	padding-top: 10px;
	width: 300px;
	height: 200px;
	overflow-y: auto;
}

.claimed_tasks .tasks p {
	margin-bottom: 15px;
	margin-top: 10px;
}

.claimed_tasks .tasks a {
	text-decoration: none;
	color: #646a70;
	font-weight: bold;
}

.claimed_tasks .tasks a:hover {
	color: #333538;
}

::-webkit-scrollbar {
      width: 15px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
      background-color: #798087;
      border-radius: 5px;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
      border-radius: 5px;
} /* this will style the thumb, ignoring the track */
  
::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

.task_stream {
	height: 250px;
	margin-top: 100px;
	border-radius: 4px;
	float: right;
	margin-right: 50px;
	padding: 10px 10px 10px 10px;
	background-color: #9099A2;

	-moz-box-shadow:    inset 0 0 10px #000000;
   	-webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
  	
}

.task_stream h2 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

.task_stream .tasks {
	padding-top: 10px;
	width: 300px;
	height: 200px;
	overflow-y: auto;
}

.task_stream .tasks p {
	margin-bottom: 15px;
	margin-top: 10px;
}

.task_stream .tasks a {
	text-decoration: none;
	color: #646a70;
	font-weight: bold;
}

.task_stream .tasks a:hover {
	color: #333538;
}


hr {
	border-color: #7f727a;
}