body{
	font-family: arial, sans-serif;
}
*{
	padding: 0px;
	margin: 0px;
}
#maindiv{
	width: 100%;
	height: 700px;
	/*background: url("ullogo.jpg");*/
	background-size:cover;
}
#navdiv{
	opacity: 0.7;
	filter: (opacity=70);
}
#navdiv ul{
	width: 100%;
	height: 80px;
	background-color: #aec6cf;
	line-height: 80px;
	color: white;
	margin-right: 15px;
}
#navdiv ul a{
	text-decoration: none;
	color: white;
	padding: 20px;
}
#navdiv ul li {
	list-style-type: none;
	display: inline-block;
	float: right;
}
#navdiv ul li:hover{
	background: #8fb0bf;
	transition: all 0.40s;
}
#navdiv h1{
	width: 300px;
	float: left;
	cursor: pointer;
	margin-left: 15px;
	color: white;
}
#searchBar{
}
#searchBtn{
}
#searchBtn:hover{
	background: #8fb0bf;
}
.container{
	width: 530px;
	height: 800px;
	padding-top: 15px;
	text-align: center;
	background-color: rgba(52,73,94,0.7);
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 50px;
}
input[type="text"],input[type="password"]{
	height:45px;
	width: 300px;
	font-size: 18px;
	border: none;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: #fff;
	padding-left: 30px;
}
.form-input::before{
	position: absolute;
	font-family: sans-serif;
	padding-left: 5px;
	padding-top: 5px;
	font-size: 35px;
}
.btn-login{
	padding: 15px 30px;
	cursor: pointer;
	color: #fff;
	border-radius: 4px;
	border: none;
	background-color: #2ecc71;
	border-bottom: 4px solid #27ae60;
	margin-bottom: 20px;
}
a{
	color: #fff;
}